// Bulma Variables
@import "~bulma/sass/utilities/initial-variables";

// Bulma functions
@import "~bulma/sass/utilities/functions";

// Custom initial variables

// Custom derived variables
$primary: $purple;
$background: $grey-dark;
$text: $white-ter;
$text-light: $grey-lighter;
$text-strong: $white;
// Title
$title-color: $text;
$subtitle-color: $title-color;
$subtitle-strong-color: $subtitle-color;

// Bulma derived variables
@import "~bulma/sass/utilities/derived-variables";
